<div mat-dialog-title>
    <h1>Business Contact</h1>
</div>
<form [formGroup]="busContactForm" (ngSubmit)="onFormSubmit()">
<div mat-dialog-content class="content">
    <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput="text" placeholder="Name" formControlName="name">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Contact Number</mat-label>
            <input matInput="text" placeholder="Contact Number" formControlName="contactnumber">
        </mat-form-field>
                <mat-form-field appearance="outline">
            <mat-label>Email Address</mat-label>
            <input matInput="text" placeholder="Email Address" formControlName="email">
        </mat-form-field>
    </div>
</div>
<div mat-dialog-actions class="action">
    <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
    <button mat-raised-button color="primary" type="submit">Update</button>
</div>
</form>