<p class="centeredCard">
<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Yat Wah, Tam</mat-card-title>
      <mat-card-subtitle>Rainbow</mat-card-subtitle>
    </mat-card-header>
    <div class="myImage">
    <img mat-card-image src="http://studentweb.cencol.ca/ytam17/comp229/myself.JPG" alt="My Photo" width="200" height="250">
    </div>
    <mat-card-content>
      <p class="cardFont">
        I am studying Software Engineering Technician in Centennial College.
        I am passionate about software development and I wish I could become software developer in the future.
      </p>
    </mat-card-content>
    <mat-card-actions>
        <a mat-button href="http://studentweb.cencol.ca/ytam17/comp229/resume.pdf">My Resume</a>
    </mat-card-actions>
  </mat-card>
</p>