<div class="main-body">
<mat-card>
    <mat-card-header>
        <mat-card-title>Business Contact List</mat-card-title>
      </mat-card-header>
</mat-card>
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let row"> {{row.name}} </td>
    </ng-container>

    <!-- Contact Number Column -->
    <ng-container matColumnDef="contactnumber">
        <th mat-header-cell *matHeaderCellDef> Contact Number </th>
        <td mat-cell *matCellDef="let row"> {{row.contactnumber}} </td>
    </ng-container>

    <!-- Email Address Column -->
    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email Address </th>
        <td mat-cell *matCellDef="let row"> {{row.email}} </td>
    </ng-container>

    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let row">
            <button mat-icon-button color="primary" (click)="openEditBusContactForm(row)">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="deleteBusinessContact(row)">
                <mat-icon>delete</mat-icon>
            </button>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    </div>
</div>
