<mat-accordion>
    <mat-expansion-panel (opened)="stProjectPanelOpenState = true"
                         (closed)="stProjectPanelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Project 1
        </mat-panel-title>
        <mat-panel-description>
          Travel application
        </mat-panel-description>
      </mat-expansion-panel-header>
      <img src="http://studentweb.cencol.ca/ytam17/comp229/travel.png" alt="Travel application" width="200" height="250">
      <p>I am responsible in developing a travel application for marking favourite places in the application.</p>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="ndProjectPanelOpenState = true"
                         (closed)="ndProjectPanelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
            Project 2
        </mat-panel-title>
        <mat-panel-description>
            Air-ticket Booking system
        </mat-panel-description>
      </mat-expansion-panel-header>
      <img src="http://studentweb.cencol.ca/ytam17/comp229/airticket.png" alt="Air-ticket Booking system" width="300" height="200">
      <p>I am responsible in developing a travel application for marking favourite places in the application.</p>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="rdProjectPanelOpenState = true"
                         (closed)="rdProjectPanelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Project 3
        </mat-panel-title>
        <mat-panel-description>
          Interaction application with Kinect
        </mat-panel-description>
      </mat-expansion-panel-header>
      <img src="http://studentweb.cencol.ca/ytam17/comp229/posture.jpg" alt="Interaction application with Kinect" width="200" height="250">
      <p>I am responsible in developing an interactive application which can detect users' gesture for displaying corresponding animation.</p>
    </mat-expansion-panel>
  </mat-accordion>
  