<div class="flex">
  <div>
    <mat-toolbar color="accent">
      <span>My Profile App</span>
      <span class="example-spacer"></span>
      <div>
        <img class="img-fluid" src="http://studentweb.cencol.ca/ytam17/comp229/logo.jpg">
      </div>
      <div>
        <nav>
          <a mat-button routerLink="/home" routerLinkActive="active">Home Page</a>
          <a mat-button routerLink="/about" routerLinkActive="active">About Me Page</a>
          <a mat-button routerLink="/projects" routerLinkActive="active">Projects Page</a>
          <a mat-button routerLink="/services" routerLinkActive="active">Services Page</a>
          <a mat-button routerLink="/contact" routerLinkActive="active">Contact Me Page</a>
          <a mat-button routerLink="/login" routerLinkActive="active">Login Page</a>
        </nav>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </div>
</div>