.example-spacer {
    flex: 1 1 auto;
  }
  
  .img-fluid {
    max-width: 20% !important;
    margin-left: 5% !important;
    margin-right: 17% !important;
  }
  
  .flex {
    display: flex;
  }

  .active{
    background-color: lightgray;
    opacity: 0.8;
  }