.homeStyle {
    text-align: center;
    background-color:antiquewhite;
    margin-top : 50px;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 50px;
}

.container {
    background-color:blanchedalmond;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border:10px;
    border-color: black;
 }

p.welcomeMessageStart {
    padding-top: 100px;
}

p.welcomeMessageEnd {
    padding-bottom: 100px;
}