<mat-sidenav-container class="container">
<div class="homeStyle">
    <p class="welcomeMessageStart">
      Welcome to my page, I am Rainbow.
    </p>
    <p>
        You can navigate <a mat-button routerLink="/about">About Me Page</a> to know more about me;
    </p>
      <a mat-button routerLink="/projects">Projects Page</a>
      to know more about the projects I have conducted;
      <p>
      <a mat-button routerLink="/services">Services Page</a>
      to know more about the services I have learnt;
      <p class="welcomeMessageEnd">
      <a mat-button routerLink="/contact">Contact Me Page</a>
      to contact me!
    </p>
</div></mat-sidenav-container>